.header {
	display: flex;
	height: 100%;
	padding: 10px;
	justify-content: space-between;
	img {
		height: 100%;
	}
	.title {
		font-size: 26px;
		font-weight: 700;
		display: flex;
		align-items: center;
	}
}
