.wrap-modal {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	.modal {
		border-radius: 5px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(27, 38, 48, 0.25);
		> div {
			padding: 10px;
		}
		.modal-header {
			border-radius: 5px 5px 0 0;
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #bbb;
			span {
				font-size: 16px;
				font-weight: 700;
			}
		}
		.modal-body {
			min-height: 100px;
			max-height: calc(100vh - 100px);
			&.empty {
				border-radius: 0 0 5px 5px;
			}
		}
		.modal-footer {
			display: flex;
			justify-content: flex-end;
			gap: 10px;
			border-radius: 0 0 5px 5px;
			height: 60px;
			border-top: 1px solid #bbb;
		}
	}
}
